web/WEB-INF/wsdl/localhost_8080/SOAPVehicule/VehiculeWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="VehiculeWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8080/SOAPVehicule/VehiculeWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="findAllMarque">
<part name="parameters" element="tns:findAllMarque"/>
</message>
<message name="findAllMarqueResponse">
<part name="parameters" element="tns:findAllMarqueResponse"/>
</message>
<message name="findAllModeleByMarque">
<part name="parameters" element="tns:findAllModeleByMarque"/>
</message>
<message name="findAllModeleByMarqueResponse">
<part name="parameters" element="tns:findAllModeleByMarqueResponse"/>
</message>
<message name="findAllVersionByModele">
<part name="parameters" element="tns:findAllVersionByModele"/>
</message>
<message name="findAllVersionByModeleResponse">
<part name="parameters" element="tns:findAllVersionByModeleResponse"/>
</message>
<portType name="VehiculeWebService">
<operation name="remove">
<input wsam:Action="http://webservice/VehiculeWebService/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://webservice/VehiculeWebService/countRequest" message="tns:count"/>
<output wsam:Action="http://webservice/VehiculeWebService/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://webservice/VehiculeWebService/findRequest" message="tns:find"/>
<output wsam:Action="http://webservice/VehiculeWebService/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://webservice/VehiculeWebService/create" message="tns:create"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://webservice/VehiculeWebService/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://webservice/VehiculeWebService/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://webservice/VehiculeWebService/edit" message="tns:edit"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://webservice/VehiculeWebService/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://webservice/VehiculeWebService/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="findAllMarque">
<input wsam:Action="http://webservice/VehiculeWebService/findAllMarqueRequest" message="tns:findAllMarque"/>
<output wsam:Action="http://webservice/VehiculeWebService/findAllMarqueResponse" message="tns:findAllMarqueResponse"/>
</operation>
<operation name="findAllModeleByMarque">
<input wsam:Action="http://webservice/VehiculeWebService/findAllModeleByMarqueRequest" message="tns:findAllModeleByMarque"/>
<output wsam:Action="http://webservice/VehiculeWebService/findAllModeleByMarqueResponse" message="tns:findAllModeleByMarqueResponse"/>
</operation>
<operation name="findAllVersionByModele">
<input wsam:Action="http://webservice/VehiculeWebService/findAllVersionByModeleRequest" message="tns:findAllVersionByModele"/>
<output wsam:Action="http://webservice/VehiculeWebService/findAllVersionByModeleResponse" message="tns:findAllVersionByModeleResponse"/>
</operation>
</portType>
<binding name="VehiculeWebServicePortBinding" type="tns:VehiculeWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllMarque">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllModeleByMarque">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllVersionByModele">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="VehiculeWebService">
<port name="VehiculeWebServicePort" binding="tns:VehiculeWebServicePortBinding">
<soap:address location="http://localhost:8080/SOAPVehicule/VehiculeWebService"/>
</port>
</service>
</definitions>